*
!.gitignore
!.xsessionrc
!.bashrc
!.i3status.conf
!.xxkbrc
!.bash_profile
!.i3/
!.i3/*
!.i3/workspaces/
!.i3/workspaces/*
!soft/
!soft/locker.sh
!soft/screenfetch/
!soft/screenfetch/screenfetch
!soft/idea/
!soft/idea/idea15.sh
!.config/
!.config/mc/
!.config/mc/*